.code-editor-header{
    background-color: #5f259f ;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: #5f259f!important;
}

.container-code-editor{
    display: flex;
    flex-direction: column;
}